<% @instruments.each do |instrument| %>
  <%= link_to instrument_path(instrument) do %>
    <div class="col sm">
      <div>
        <!-- image cl_image_tag trip.captain.photo.key -->
        <%= cl_image_tag instrument.photo.key, height: 200, width: 300, crop: :fill, loading:"lazy" %>
      </div>
      <div>
        <span class="span-headline"><%= instrument.title %></span>
        <p> <%= instrument.location %> </p>
        <p> <%= instrument.price %> €</p>
        <p> <%= pluralize(instrument.reviews.count, 'review') %></p>
      </div>
    </div>
  <% end %>
<% end %>


