  <%= link_to instrument_path(instrument) do %>
  <div class="col-md">
    <div class="image-container-big">
      <%= cl_image_tag instrument.photo.first&.key, height: 300, width: 800, crop: :fill, loading:"lazy", :class=>"instrument-card-image"%>
      <div class="header-image-big">
        <i class="fas fa-map-marker-alt location"></i>
        <p class="card-headline"><%= instrument.title %> <%= instrument.city %></p>
        <i class="far fa-heart icons-main"></i>
      </div>
    </div>
    <div class="overview-big">
      <p class="price"> <%= instrument.price %> € /h</p>
      <div class=features>
        <% instrument.features.limit(2).each do |feature| %>
          <ul>
            <li><%= feature.name %></li>
          </ul>
        <% end %>
      </div>
      <% if instrument.reviews.count > 0 %>
        <div class="instrument-card-rating"> <%= render 'icons/rating_icon'%> <%= pluralize(instrument.reviews.count, 'review') %></div>
      <% end %>
      <% if instrument.user != current_user %>
        <p><button type="submit" class="button-book">Book</button></p>
      <% end %>
    </div>
  </div>
<% end %>