<% @instruments.each do |instrument| %>
  <%= link_to instrument_path(instrument) do %>
    <div class="col sm">
      <div>
        <!-- image cl_image_tag trip.captain.photo.key -->
        <%= cl_image_tag instrument.photo.key, height: 200, width: 300, crop: :fill, loading:"lazy" %>
      </div>
      <div>
        <span class="span-headline"><%= instrument.title %></span>
        <p> <%= instrument.location %> </p>

        <div class="overview">
          <p> <%= instrument.price %> €</p>
          <p><%= image_tag 'svg/rating.svg', :class => "rating", height: '15', width: '15' %> <%= pluralize(instrument.reviews.count, 'review') %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


