  <%= link_to instrument_path(instrument) do %>
  <div class="col-md">
    <div class="image-container-big">
      <%= cl_image_tag instrument.photo.key, height: 300, width: 800, crop: :fill, loading:"lazy", :class=>"instrument-card-image"%>
      <div class="header-image-big">
        <i class="fas fa-map-marker-alt"></i>
        <p class="location"><%= instrument.title %></p>
        <i class="far fa-heart"></i>
      </div>
    </div>
    <div class="overview-big">
      <p class="price"> <%= instrument.price %> € /h</p>
      <div class=features>
        <% instrument.features.limit(2).each do |feature| %>
          <ul>
            <li>
              <%= feature.name %>
            </li>
          </ul>
        <% end %>
      </div>
      <p><i class="fas fa-star"></i> <%= pluralize(instrument.reviews.count, 'review') %></p>
      <% if instrument.user != current_user %>
        <p><button type="submit" class="button-book">Book</button></p>
      <% end %>
    </div>
    <p class="span-headline-big"><%= instrument.city %></p>
  </div>
  <div class="edit-instrument">
    <button class="button-info">
      <%= link_to 'Edit Instrument', edit_instrument_path(instrument), class: "button-info" %>
    </button>
    <button class=button-primary >
      <% if instrument.pause %>
        <%= link_to 'Un-Pause Instrument', activate_instrument_path(instrument), method: :put, class: "button-primary" %>
      <% else %>
        <%= link_to 'Pause Instrument', pause_instrument_path(instrument), method: :put, class: "button-primary" %>
      <% end %>
    </button>
    <button type="submit" class="button-alert">
      <%= link_to 'Delete Instrument', instrument_path(instrument), method: :delete, data: { confirm: 'This will delete your instrument. Are you sure?', disable_with: 'Deleting...' } , class: "button-alert" %>
    </button>
  </div>
<% end %>