<% content_for :head do %>
  <meta name="robots" content="noindex,nofollow"/>
<% end %>
<h1>Instrument Bookings</h1>
<table>
  <tr>
    <th>Upcoming Bookings</th>
    <th>Booking Status</th>
  </tr>
  <% if @instrument.bookings.upcoming.count.zero? %>
    <div class="status">
      😕 No upcoming bookings yet for your <%= @instrument.title %>.
    </div>
  <% end %>
  <% @instrument.bookings.upcoming.each do |booking| %>
    <tr>
      <td>
        <div class=booking-profile>
          <%= link_to public_profile_path(booking.receiver) do %>
            <%= cl_image_tag booking.instrument.photo.first&.key, height: 120, width: 120, radius: 8, crop: :fill, gravity: :face, border: "5px_solid_white", radius: 20 %>
          <% end %>
          <div class=booking-info>
            <strong><%= booking.receiver.first_name %> for your <%= booking.instrument.title %></strong>
            <p><%= booking.booking_day %></p>
            <p><%= booking.booking_hour_from %><%= booking.booking_hour_to %> at <%= booking.provider.first_name %>'s place.</p>
          </div>
        </div>
      </td>
      <td>
        <% if booking.accepted? %>
          <div class="status">
            <div class="booking-confirmed">
              Booking confirmed!
              <%= link_to 'Decline Booking', decline_booking_path(booking), { method: :patch, class:"button-edit-profile"} %>
            </div>
          <% elsif booking.status.zero? %>
            <div class="booking-pending">
              <p> Booking is pending</p>
              <%= link_to 'Accept Booking', accept_booking_path(booking), { method: :patch, class:"button-secondary"} %>
              <%= link_to 'Decline Booking', decline_booking_path(booking), { method: :patch, class:"button-edit-profile"} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <br>
  <tr>
    <th>Past Bookings</th>
    <th> Your instrument Reviews</th>
  </tr>
  <tr>
    <td>
      <% if @instrument.bookings.past.count.zero? %>
        <div class=booking-profile>You don't have any past bookings.</div>
      <% else %>
        <% @instrument.bookings.past.each do |booking| %>
          <div class="booking-profile">
            <%= link_to public_profile_path(booking.receiver) do %>
              <%= cl_image_tag booking.instrument.photo.key, height: 120, width: 120, radius: 8, crop: :fill, gravity: :face, border: "5px_solid_white", radius: 20 %>
            <% end %>
            <div class="booking-info">
              <strong><%= booking.receiver.first_name %></strong>
              <p><%= booking.booking_day %><br>
                <%= booking.booking_hour_from %><%= booking.booking_hour_to %>  </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </td>
    <td>
      <div class="status">
        <% if @instrument.reviews.count.positive? %>
          <%= render "reviews/review", review: @instrument.reviews.first %>
        <% else %>
          <p>There are no reviews for this instrument yet.</p>
        <% end %>
      </div>
    </td>
  </tr>
</table>