<div class="container">
  <h1>Edit User Profile</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, label: "First Name" %>
    <%= f.input :last_name, label: "Last Name", input_html: { maxlength: 70 } %>
    <%= f.input :email, label: "E-Mail" %>
    <%= f.input :birthday, label: "Birthday", as: :string, input_html: { class: "flatpickr" } %>
    <%= f.input :language, label: "Language" %>
    <%= f.button :submit %>
  <% end %>
</div>

<%= content_for :footer_script do %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<% end %>
