<div class="container mb-5">
  <h1>Edit Your Profile</h1>
  <% if @user.errors.messages.present? %>
    <ul> Please fix the following errors:
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <p><%= link_to 'Change password', edit_password_url(@user, reset_password_token: @token), class: "button-secondary" %></p>
  <br>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, label: "First Name" %>
    <%= f.input :last_name, label: "Last Name", input_html: {maxlength: 70} %>
    <%= f.input :email, label: "E-Mail" %>
    <%= f.input :birthday, label: "Birthday", as: :string, input_html: {class: "datepicker"} %>
    <%= f.input :language, label: "Language" %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file, label: "Change your photo" %>
    <div class="justify-content-center d-flex">
      <%= f.button :submit, label: "Update Profile", class: "button-primary mb-5" %>
    </div>
  <% end %>
  <br>
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(@current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%#= content_for :footer_script do %>
  <!--   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<%# end %> -->