<!-- navigation -->
<div class="header">

<!-- menu -->
  <div class="navigation">
    <div class="fixed-top">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-white p-4">
          <h5 class="text-content h4"> Menu</h5>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <span class="text-muted">Sign up</span><br>
            <span class="text-muted">Account</span>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

          </p>
        </div>
      </div>
      <nav class="navbar navbar-light bg-content">
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon bg-white"></span>
        </button>
      </nav>
    </div>
</div>

<!-- logo & profile -->
  <div class="navigation-elements">
      <div>
        <%= link_to image_tag('logo.png', height: '75', width: '75', radius: '8'), {action: 'home', controller: '/pages'},:class => "logo" %>
      </div>
      <div>
        <% if !user_signed_in? %>
          <%= render 'components/avatar-icon'  %>
        <% else %>
            <%= render 'components/avatar' %>
            <%= link_to profile_path %>
        <% end %>
      </div>
  </div>
</div>






