<div class="booking-section-header">
  <h2> Overview bookings <%= instrument.title %> -
    <strong style="color:#AC2721">only visible to instrument owner</strong></h2>
</div>

<!-- Tab-Menu -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="profile" aria-selected="false">Past</a>
  </li>
</ul>

<!-- Tab-Content -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
    <% if instrument.bookings.upcoming.count.zero? %>
      <h5>No past events yet for the instrument <%= instrument.title %>! </h5>
    <% end %>
    <% instrument.bookings.upcoming.each do |booking| %>
      <div class=booking-profile>
        <%= link_to public_profile_path(booking.receiver) do %>
          <%= cl_image_tag booking.receiver.photo.key, height: 120, width: 120, radius: 8, crop: :fill, gravity: :face, border: "5px_solid_white", radius: 20 %>
        <% end %>
        <div class=booking-info>
          <h4><%= booking.receiver.first_name %></h4>
          <p><%= booking.booking_day %></p>
          <p><%= booking.booking_hour_from %><%= booking.booking_hour_to %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
    <% if instrument.bookings.past.count.zero? %>
      <h5>No past events yet for the instrument <%= instrument.title %>! </h5>
    <% end %>
    <% instrument.bookings.past.each do |booking| %>
      <div class=booking-profile>
        <%= link_to public_profile_path(booking.receiver) do %>
          <%= cl_image_tag booking.receiver.photo.key, height: 120, width: 120, radius: 8, crop: :fill, gravity: :face, border: "5px_solid_white", radius: 20 %>
        <% end %>
        <div class=booking-info>
          <h4><%= booking.receiver.first_name %></h4>
          <p><%= booking.booking_day %></p>
          <p><%= booking.booking_hour_from %><%= booking.booking_hour_to %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
