<!-- Head Section -->
<% content_for :head do %>
  <title> Find your music instrument to practise close by | Dueth.com </title>
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Looking for an easy way to get access to an instrument to practise? Search with Dueth.com for instruments close by and practise wherever you are. Find your next practise instrument now!"/>
<% end %>

<!-- Body -->



<!-- search -->
<div class="search">
  <%= form_tag search_instruments_path(title: params[:title].to_s,location: params[:location].to_s), method: :get do %>
    <%= text_field_tag :title,
      params[:title],
      class: "search-bar",
      placeholder: "What instrument? Piano, drums, ..."
      %>
    <%= text_field_tag :location,
      params[:location],
      class: "search-bar",
      placeholder: "Where? Paris, Milan, ..."
      %>
        <button type="submit" class="primary-button">Search</button>
  <% end %>

</div>

<!-- banner -->
<div class="banner">
<%= image_tag 'header.jpg', height: '300', width: '100%' %>
</div>

<!-- instruments -->
<h1>Explore music instruments nearby</h1>

<section>
  <div class="container pt-3">
    <div class="row">
      <%= render "./components/instrument_card_small" %>
    </div>
  </div>
</section>

