<% content_for :head do %>
<title>Profile of Dueth| Dueth.com</title>
<meta name="robots" content="noindex, follow" />
<% end %>

<!-- just a margin if the user is not logged in -->
<% if !user_signed_in? %>
  <div class="margin-for-menu"></div>
<% end %>

<!-- Profile section -->

<div class="container">
  <div class="">
    <% if user_signed_in? %>
      <div class="profile-hero">
        <div class="fullname">
          <h1>Hi <%= current_user.first_name %> <%= current_user.last_name %></h1>
            <button type="submit" class="button-primary">
            <%= link_to "Add a new Instrument", new_instrument_path %>
            </button>
        </div>
      </div>
    <% end %>
  </div>

<!-- Owned instruments -->
  <section>
    <% @instruments.each do |instrument| %>
    <div class="container pt-3">
      <div class="row">
        <%= render "./components/instrument_card_big", instrument: instrument %>
      </div>
      <button type="submit" class="button-primary">
        <%= link_to 'Delete Instrument', instrument_path(instrument), method: :delete %>
      </button>
      <button type="submit" class="button-primary">
        <% if instrument.pause %>
          <%= link_to 'Un-Pause Instrument', activate_instrument_path(instrument), method: :put %>
        <% else %>
          <%= link_to 'Pause Instrument', pause_instrument_path(instrument), method: :put %>
        <% end %>
      </button>
        <%= link_to 'Edit Instrument', edit_instrument_path(instrument) %>
    </div>
    <% end %>
  </section>
</div>

<div class="container">
<!--  delete after testing -->
<h2>Just for testing: New Instrument Information</h2>

<% @instruments.each do |instrument| %>
  <%= instrument.title %>
  <%= instrument.subtitle %>
  <%= instrument.description %>
  <%= instrument.location %>
  <%= instrument.longitude %>
  <%= instrument.latitude %>
  <%= instrument.features.map(&:name) %>
  <%= instrument.price %>
<% end %>
</div>
