<% content_for :head do %>
<title>User Profile of Dueth| Dueth.com</title>
<meta name="robots" content="noindex, nofollow" />
<% end %>

<!-- just a margin if the user is not logged in -->
<% if !user_signed_in? %>
  <div class="margin-for-menu"></div>
<% end %>

<!-- Profile section -->

<% if user_signed_in? %>
<div class="profile-section">
  <div class="profile-picture">
    <%= cl_image_tag current_user.photo.key, height: 190, width: 190, radius: 8, crop: :fill, gravity: :face %>
  </div>
  <div class="profile-header">
    <div class="profile-greeting">
      <h1> <%= current_user.first_name %></h1>
      <%= link_to "Edit", edit_user_path(current_user) %>
    </div>
    <div class="membership">
      <p> Member since <%= current_user.created_at.strftime('%B, %Y') %> </p>
    </div>
      <ul class="profile-attributes">
        <li><%= image_tag 'svg/rating-grey.svg', class: "rating" %> <%= pluralize(current_user.reviews.count, 'review') %></li>
        <li><%= image_tag 'svg/verify.svg', class: "rating" %> identity verified</li>
        <li><%= image_tag 'svg/language.svg', class: "rating" %> <%= current_user.language %></li>
      </ul>
  </div>
</div>
<div class="profile-description">
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</br>
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.”
  </p>
</div>
<% end %>

<hr>

<!-- Instrument section -->
<div class="instrument-section">
  <h2> <%= current_user.first_name %>'s instruments </h2>
    <div class="add-new-instrument">
      <button class="button-secondary">
        <%= link_to "Add a new Instrument", new_instrument_path %>
      </button>
    </div>

  <% @instruments.each do |instrument| %>
    <div class="instruments">
        <%= render "./components/instrument_card_big", instrument: instrument %>
      <div class="edit-instrument">
        <button class="button-info">
          <%= link_to 'Edit Instrument', edit_instrument_path(instrument), class: "button-info" %>
        </button>
        <button class=button-primary >
          <% if instrument.pause %>
            <%= link_to 'Un-Pause Instrument', activate_instrument_path(instrument), method: :put, class: "button-primary" %>
          <% else %>
            <%= link_to 'Pause Instrument', pause_instrument_path(instrument), method: :put, class: "button-primary" %>
          <% end %>
        </button>
        <button type="submit" class="button-alert">
          <%= link_to 'Delete Instrument', instrument_path(instrument), method: :delete, data: { confirm: 'This will delete your instrument. Are you sure?', disable_with: 'Deleting...' } , class: "button-alert" %>
        </button>
      </div>
    </div>
</div>

  <!-- Review section -->
  <% if instrument.reviews.size.positive? %>
    <div class="review-section">
      <h2> Reviews for <%= instrument.title %></h2>
        <div class="reviews">
          <% instrument.reviews.each do |review|  %>
            <%= cl_image_tag review.user.photo.key, height: 60, width: 60, radius: 8, crop: :fill, gravity: :face %>
            <ul class="review-attributes">
              <li> <strong><%= review.user.first_name %></strong></li>
              <li><%= review.created_at.strftime('%B, %Y') %></li>
            </ul>
        </div>
      <p class="review-content"><%= review.content %></p>
         <% end %>
    </div>
    <% else %>
      <div class="review-section">
        <h2> Reviews for <%= instrument.title %> </h2>
        <p>No reviews yet.</p>
      </div>
  <% end %>

  <!--  Booking section-->
 <div class="booking-section-header">
    <h2> Overview bookings <%= instrument.title %> - <strong style="color:#AC2721">only visible to instrument owner</strong></h2>
 </div>
    <!-- There are bookings -->
    <% if instrument.bookings.size.positive? %>

    <!-- Tab-Links Bootstrap-->
<ul class="nav nav-tabs tabs" id="myTab" role="tablist">
  <li class="nav-item tabs-item-active" role="presentation">
    <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</a>
  </li>
  <li class="nav-item tabs-item" role="presentation">
    <a class="nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="false">Past</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">...</div>
  <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">...</div>
</div>

      <!-- Tab-Content -->
      <% instrument.bookings.each do |booking| %>
        <% if booking.booking_day >= Time.now %>
          <div class="booking-section"  id="upcoming" class="tabcontent">
            <div class=booking-profile>
              <%= cl_image_tag booking.receiver.photo.key, height: 120, width: 120, radius: 8, crop: :fill, gravity: :face, border: "5px_solid_white", radius: 20 %>
              <div class=booking-info>
                <h4><%= booking.receiver.first_name  %></h4>
                <p><%= booking.booking_day %></p>
                <p><%= booking.booking_hour_from %><%= booking.booking_hour_to %></p>
              </div>
             </div>
          </div>
        <% else %>
        <div class="booking-section"  id="past" class="tabcontent">
          <div class=booking-profile>
            <%= cl_image_tag booking.receiver.photo.key, height: 120, width: 120, radius: 8, crop: :fill, gravity: :face, border: "5px_solid_white", radius: 20 %>
            <div class=booking-info>
              <h4><%= booking.receiver.first_name  %></h4>
              <p><%= booking.booking_day %></p>
              <p><%= booking.booking_hour_from %><%= booking.booking_hour_to %></p>
            </div>
           </div>
        </div>
      <% end %>
      <% end %>

    <!-- There are NO bookings -->
    <% else %>
       <div class="tabs">
        <div class="tabs-item active">
          <h3>Upcoming</h3>
        </div>
        <div class="tabs-item">
          <h3>Past</h3>
        </div>
      </div>
      <div class="booking-section">
            <p>No bookings yet.</p>
      </div>
  <% end %>
  <hr>
<% end %>



<!--  Booking section-->
<div class="booking-section">
  <h2>Your instrument practise - only visible to you</h2>
</div>
