<% content_for :head do %>
  <title>User Profile of Dueth| Dueth.com</title>
  <meta name="robots" content="noindex, nofollow" />
<% end %>
<!-- just a margin if the user is not logged in -->
<% if !user_signed_in? %>
  <div class="margin-for-menu"></div>
<% end %>
<!-- Profile section -->
<% if user_signed_in? %>
  <div class="profile-section">
    <div class="profile-picture">
      <%= cl_image_tag current_user.photo.key, height: 190, width: 190, radius: 8, crop: :fill, gravity: :face %>
    </div>
    <div class="profile-header">
      <div class="profile-greeting">
        <h1> Hi <%= current_user.first_name %></h1>
      </div>
      <div class="membership">
        <p> You are a member since <%= current_user.created_at.strftime('%B, %Y') %> </p>
        <p style="font-weight: bold;">That's what others can read about you:</p>
      </div>
      <ul class="profile-attributes">
        <li><%= image_tag 'svg/rating-grey.svg', class: "rating" %> <%= pluralize(current_user.reviews.count, 'review') %></li>
        <li><%= image_tag 'svg/verify.svg', class: "rating" %> identity verified</li>
        <li><%= image_tag 'svg/language.svg', class: "rating" %> <%= current_user.language %></li>
      </ul>
      <div class="profile-description">
        <% if current_user.description.blank? %>
          <p class="description-empty">"Give people an impression: add your personal description."</p>
        <% else %>
          <p><%= current_user.description %></p>
        <% end %>
        <button class="button-primary">
          <%= link_to "Edit your Profile", edit_user_path(current_user), class: "button-primary" %>
        </button>
      </div>
    </div>
  </div>
<% end %>
<hr>
<!-- Instrument section -->
<!-- 1. when the user has NO instruments -->
<div class="instrument-section">
  <% if @instruments.empty? %>
    <h2> Here are your current bookings </h2>
    <%= render "bookings/user_bookings_table" %>
    <!-- 3. when the user wants to add instruments-->
    <h2> Do you want to add your own instrument?</h2>
    <div class="add-new-instrument">
      <button class="button-secondary">
        <%= link_to "Add a new Instrument", new_instrument_path %>
      </button>
    </div>
  <% else %>
    <!-- 1. when the user HAS instruments -->
    <h2> Here are your active instruments </h2>
    <div class="add-new-instrument">
      <button class="button-secondary">
        <%= link_to "Add a new Instrument", new_instrument_path %>
      </button>
    </div>
    <% @instruments.each do |instrument| %>
      <div class="profile-instrument-mobile">
        <%= render "./components/instrument_card_small_editable", instrument: instrument %>
      </div>
      <div class="profile-instrument-desktop">
        <%= render "./components/instrument_card_big_editable", instrument: instrument %>
      </div>
    <% end %>
  <% end %>
</div>