<h4>Hi <%= current_user.first_name %>!</h4>
<% if @instrument.bookings.pending.count > 0 %>
  There <%= "is".pluralize(@instrument.bookings.count) %> <%= @instrument.bookings.count %> <%= "request".pluralize(@instrument.bookings.count) %> to approve!
  <% @instrument.bookings.each do |booking| %>
    <ul>
      <li> For: <%= booking.user.first_name %></li>
      <%= booking.booking_timeframe %>
      <br>
      <% if !booking.accepted?  %>
        <%= link_to 'Accept Booking', accept_booking_path(booking), { method: :patch, class:"button-alert"} %>
        <%= link_to 'Decline Booking', decline_booking_path(booking), { method: :patch, class:"button-alert"} %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No pending requests</p>
  <p>Check your disponibilities for this instrument:</p>
  <%= render "booking_form/booking_form_disponibilities" %>
<% end %>