<br>
<div class="own-bookings">
  <% @instrument.bookings.requested_by(current_user.id).each do |booking| %>
    <% if booking.accepted? %>
      <h4>Booking confirmed!</h4>
      <p>
        <ul>
          <li> <%= booking.booking_timeframe %></li>
        </ul>
        <%= link_to 'Cancel booking', instrument_booking_path(@instrument,booking), method: :delete , class:"button-primary" %>
      </p>
    <% elsif booking.status.zero? %>
      <h4>Your Bookings</h4>
      <p>
        <ul>
          <li> <%= booking.booking_timeframe %></li>
          <h5 style="color:#3293a4;">Status: pending...</h5>
        </ul>
      </p>
      <ul>
        <p>Owner <%= @instrument.user.first_name %> needs to confirm your booking! </p>
        <%= link_to 'Cancel booking', instrument_booking_path(@instrument,booking), { method: :delete, class:"button-alert" }  %>
      </ul>
    <% end %>
  <% end %>
</div>