<% if all_booked?(@instrument.disponibilities,@bookings) %>
  <p>There are no available bookings</p>
<% else %>
  <h4 id="disponibility">Disponibility</h4>
  <% @instrument.disponibilities.each do |disponibility|%>
    <% next if disponibility.from > Time.zone.now %>
    <% next if @bookings.pluck(:disponibility_id).include?(disponibility.id)%>
    <%= simple_form_for @instrument, url: (instrument_bookings_path(@instrument)), method: :post do |f| %>
      <%= f.input :disponibility_id, as: :hidden, :input_html => { value: disponibility.id }%>
      <p>From:<%= disponibility.start_from  %></p>
      <p>To:<%= disponibility.until_to %> </p>
      <%= f.button :submit, "Book", class: "button-primary" %>
    <% end %>
  <% end %>
<% end %>