<h4>Hi <%= current_user.first_name %>!</h4>
<!-- note to myself: here booking status = 0 , something like that -->
<% if @instrument.bookings.count > 0%>
  <%= "There are #{@instrument.bookings.count} requests to approve"  %>
  <% @instrument.bookings.each do |booking| %>
    <%= booking.booking_timeframe %>
    <%= booking.user.first_name %>
    <%= link_to 'Accept Booking', booking_path, { method: :update, class:"button-alert"} %>
    <%= link_to 'Decline Booking', booking_path, { method: :delte, class:"button-alert"} %>
  <% end %>
<% else %>
  <p>No pending requests</p>
<% end %>