<a class="trigger_popup_fricc">Show all Disponibilities</a>
<div class="hover_bkgr_fricc">
  <span class="helper">
  </span>
  <div>
    <div class="popupCloseButton">&times;</div>
    <p>
      <% if all_booked?(@instrument.disponibilities,@bookings) %>
        <p>There are no available Disponibilities</p>
      <% else %>
        <h4 id="disponibility">All Disponibilities</h4>
        <% @instrument.disponibilities.order(from: :asc).each do |disponibility|%>
          <% next if disponibility.from < Time.zone.now %>
          <% next if @bookings.pluck(:disponibility_id).include?(disponibility.id)%>
          <%= simple_form_for @instrument, url: (instrument_bookings_path(@instrument)), method: :post do |f| %>
            <%= f.input :disponibility_id, as: :hidden, :input_html => { value: disponibility.id }%>
            <p>From: <%= disponibility.start_from  %> to:<%= disponibility.until_to %> </p>
            <% if user_signed_in? %>
              <%= f.button :submit, "Book", class: "button-primary" %>
            <% elsif current_user == instrument.receiver %>
              <%= link_to 'Want to edit the disponibilities?', edit_instrument_path(instrument), class: "button-info" %>
            <% else %>
              <p class="text-muted"><%= link_to "Please login to book this instrument", new_user_session_path, class: "button-secondary" %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>