<div class="nested-fields">
  <div class=available-booking-dates>
    <%= f.label "Select if you want to offer your instrument every hour, every day, every week or in a month during a specific timeframe:" %>
    <%= f.select :status, InstrumentDisponbility.statuses.keys.map { |w| [w] }, { :include_blank => 'Booking Type' }, { class: 'form-control m-b col-md-6' } %><br>
  </div>
  <div class=available-booking-dates>
    <%= f.input :start_date, label: "When does your availability offer start?", as: :string, input_html: { class: "datepicker col-md-6" } %>
    <%= f.input :end_date, label: "When does your availability offer end?", as: :string, input_html: { class: "datepicker col-md-6" } %>
    <%= f.hidden_field :user_id, value: current_user.id%>
  </div>
  <!--   <% if current_user.instruments.where('created_at >= ?', 1.week.ago) %>
    <div class="checkbox-color"></div>
    <span class="labelText">Availability:</span><%= f.check_box :availability,class: 'form-control c-checkbox', checked: "checked" %>
  <% else %>
    <span class="labelText">Availability:</span><%= f.check_box :availability,class: 'form-control c-checkbox'%>
  <% end %> -->
  <br>
  <div class="remove-disponibility"> <%= link_to_remove_association "Delete availability", f %></div>
</div>