<% content_for :head do %>
  <title>Edit a Instrument | Dueth.com</title>
  <meta name="robots" content="noindex, nofollow"/>
<% end %>
<div class="container padding-form">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <% if @instrument.errors.messages.present? %>
        <ul> Please fix the following errors:
          <% @instrument.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <h1>Add a new instrument</h1>
      <%= simple_form_for @instrument do |f| %>
        <%= f.input :title, label: "What Instrument do you want to offer for practise?", placeholder: "Digital Piano" %>
        <%= f.input :subtitle, label: "Title - Make it sticky! In a few words: What's very handy with your instrument?" , placeholder: "Example: Very central easy to practise Digital Piano", input_html: { maxlength: 70} %>
        <%= f.input :description, as: :text, placeholder: "Example: Anna is offering her good to practise and easy to reach digital piano. Come by and enjoy your piano practise as usual!"%>
        <%= f.input :location, label: "Add the city" %>
        <%= f.input :cancellation_policy_id, as: :radio_buttons, collection: CancellationPolicy.all.collect { |policy| [policy.id, policy.name] }, label_method: :second, value_method: :first %>
        <%= f.input :price, label: "Add a price" %>
        <% Feature.find_each do |feature, icon| %>
          <li class="features_list">
            <%= check_box_tag :"instrument[feature_ids][]", feature.id, @instrument.feature_ids.include?(feature.id) %>
            <%= feature.name %>
            <%= raw feature.icon %>
          </li>
        <% end %>
        <br/>
        <div class="send-formular">
          <%= f.button :submit, class: 'btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>