<%= content_for :head do %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet'/>
  <title> <%= params[:title].capitalize %> Rental <%= params[:city].capitalize %> | Dueth.com </title>
  <meta name="description" content="Find <%= params[:title].capitalize %> Rentals in <%= params[:city].capitalize %> available for your practise. Choose between Digital Pianos, Classical Pianos or Concert Pianos in <%= params[:city].capitalize %>. Close to you. Easy to book. "/>
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.dueth.com/instruments/<%= params[:title] %>/<%= params[:city] %>"/>
<% end %>
<%= hidden_field_tag 'instrument', @instruments.to_json, id: 'instrument-id' %>
<%= content_for :footer_script do %>
<% end %>
<div class="search-result-page">
  <section>
    <div>
      <h1> <%= params[:title].capitalize %> Rental <%= params[:city].capitalize %></h1>
      <p class="map-mobile">Find <%= pluralize(@instruments.count, 'Instrument') %> to book</p>
      <div class="d-flex p-4">
        <div>
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Select
            Feature
            <span class="caret"></span></button>
          <ul class="dropdown-menu px-2 py-3">
            <% @features.each do |feature| %>
              <li>
                <%= link_to feature, search_instruments_path(feature: feature) if feature.present? %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="px-3">
          <select class="btn btn-outline-primary dropdown-toggle py-2 customDataSelection">
            <option value="0,15">Less than 15€</option>
            <option value="15,40">Between 10€-40€</option>
            <option value="45">More than 45€</option>
          </select>
        </div>
        <%= form_tag get_search_instrument_instruments_path,remote: :true, method: :post do %>
          <%= text_field_tag :day,params[:day], class: "search-bar-main", placeholder: "Enter favorite practise day ..." %>
          <button type="submit" class="button-primary search-button">Search</button>
          </div>
        <% end %>
        </div>
    <!-- Filters -->
    <div class="content">
      <div class="search-page-desktop">
        <div class="cards">
          <% @instruments.each do |instrument| %>
            <%= render "./components/instrument_card_big", instrument: instrument %>
          <% end %>
        </div>
      </div>
      <div class="search-page-mobile">
        <div id="dropdown-feature" class="dropdown-feature-img">
          <%= render "components/instrument_card_small", instrument: @instrument %>
        </div>
      </div>
      <div id='map'></div>
    </div>
  </section>
</div>