<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <title>Dueth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.ie11.min.js"></script>
    <script>
      const Calendar = tui.Calendar;
    </script>
    <%= yield :head if content_for?(:head) %>
  </head>
  <body>
    <!-- Navigation & Menu -->
    <%= render 'shared/navbar' unless @disable_nav %>
    <% if current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
    <% else %>
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => '<span class="pl-2 pr-2">/</span>' %>
      </ol>
    <% end %>
    <!-- Alerts -->
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= yield :footer_script if content_for?(:footer_script) %>
    <!-- Footer -->
    <footer class="fixed-bottom">
      <%= render 'shared/footer-desktop'  %>
    </footer>
    <%= render 'shared/footer-mobile'  %>
  </body>
</html >